# no subir datos privados
data/
*.csv
*.xlsx

# archivos temporales de python
__pycache__/
*.pyc
/tmp

# jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

AGENTS.md

docs/*
docs/estado-inicial.txt
docs/mails.txt
results/2026-03-09_hallazgos_eda.md

data/shapefiles/*

# scripts ignorados
scripts/generate_eda.py
scripts/refactor_notebooks.py

OLD_notebooks/*
OLD_notebooks/99_perso_english_JAIIO.ipynb
OLD_notebooks/99_JAIIO_viejo.ipynb
OLD_notebooks/99_JAIIO_viejo_trayectorias.ipynb

OLD_notebooks/results/outputs/*

OLD_notebooks/exploracion_vieja/*
OLD_notebooks/lib/*

JAIIO_notebooks/graficos_overleaf/*